{% extends 'base-landing.html' %}

{% block title %}404{% endblock %}

{% block content %}
    <div class="ui container center aligned" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <div style="display: flex; justify-content: center;">
            <div class="ui segment raised very padded" style="text-align: center;">
                <p><b><span class="ui big text">Error 404</span></b></p>
                <p><span class="ui large text">Page not found</span></p>
                <a href="javascript:history.go(-1)"><span class="ui large text">Go back</span></a>
            </div>
        </div>
    </div>
  
{% endblock %}