{% extends 'base.html' %}

{% block content %}
<!-- BLOCKED OUT FOR TESTING
<div class="ui raised basic segment inverted" style="background-color: #1b1c1d;">
    <h1>{{ SCHOOL_NAME }}</h1>
    <p><span class="ui large text">Welcome back, John Doe!</span></p>
</div>
-->

<br>

<div class="ui container">

  <div class="ui centered grid">
    <div class="fifteen wide column">
      
      <div class="ui segment raised center aligned">
        <h2>{{ SCHOOL_NAME }}</h2>
        <h3>Welcome back, {{ FNAME }} {{ LNAME }}</h3>
      </div>

      <div class="ui segment raised bottom attached">
        <h2>Announcements</h2>
        <div class="ui scrolling container" style="max-height: 300px; overflow-y: auto;">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
          <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
          <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
          <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
          <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
        </div>
      </div>

      <div class="ui segment raised">
        <h2>Grades</h2>
        <table class="ui selectable table single line fixed unstackable">
          <thead>
            <tr>
              <th class="left aligned">Block</th>
              <th class="left aligned">Class</th>
              <th class="left aligned">Teachers</th>
              <th class="right aligned">Number of Absences</th>
              <th class="right aligned">Grade</th>
            </tr>
          </thead>
          <tbody>
            {% for CLASS in GRADEBOOK %}
              <tr>
                <td class="left aligned">{{ CLASS.PERIOD }}</td>
                <td class="left aligned">{{ CLASS.NAME }}</td>
                <td class="left aligned">{{ CLASS.TEACHER_NAME }}</td>
                <td class="right aligned">{{ CLASS.ABSENCES }}</td>
                <td class="right aligned">{{ CLASS.GRADE }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="ui segment raised">
        <h2>To Do</h2>
        <table class="ui selectable table single line fixed unstackable">
          <thead>
            <tr>
              <th class="left aligned">Due Date</th>
              <th class="left aligned">Class</th>
              <th class="left aligned">Assignment</th>
              <th class="left aligned">Teacher</th>
              <th class="right aligned">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for ASSIGNMENT in ASSIGNMENTS %}
            <tr>
              <td class="left aligned">{{ ASSIGNMENT.DUE_DATE }}</td>
              <td class="left aligned">{{ ASSIGNMENT.CLASS_NAME }}</td>
              <td class="left aligned">{{ ASSIGNMENT.ASSIGNMENT_NAME }}</td>
              <td class="left aligned">{{ ASSIGNMENT.TEACHER_NAME }}</td>
              <td class="right aligned">{{ ASSIGNMENT.COMPLETION }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock %}