{% extends 'base.html' %}

{% block content %}
<!-- BLOCKED OUT FOR TESTING
<div class="ui raised basic segment inverted" style="background-color: #1b1c1d;">
    <h1>{{ SCHOOL_NAME }}</h1>
    <p><span class="ui large text">Welcome back, John Doe!</span></p>
</div>
-->

<br>

<div class="ui container">

  <div class="ui centered grid">
    <div class="fifteen wide column">
      
      <div class="ui segment raised center aligned">
        <h2>{{ SCHOOL_NAME }}</h2>
        <h3>Welcome back, {{ FNAME }} {{ LNAME }}</h3>
      </div>

      <div class="ui segment raised bottom attached">
        <h2>Announcements</h2>
        <div class="ui scrolling container" style="max-height: 300px; overflow-y: auto;">
          {{ ANNOUNCEMENTS|safe }}
        </div>
      </div>

      <div class="ui segment raised">
        <h2>Grades</h2>
        <table class="ui selectable table single line fixed unstackable">
          <thead>
            <tr>
              <th class="left aligned">Class</th>
              <th class="left aligned">Teachers</th>
              <th class="right aligned">Number of Absences</th>
              <th class="right aligned">Grade</th>
            </tr>
          </thead>
          <tbody>
            {% for CLASS in GRADEBOOK %}
              <tr>
                <td class="left aligned">{{ CLASS.NAME }}</td>
                <td class="left aligned">{{ CLASS.TEACHER_NAME }}</td>
                <td class="right aligned">{{ CLASS.ABSENCES }}</td>
                <td class="right aligned">{{ CLASS.GRADE }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="ui segment raised">
        <h2>To Do</h2>
        <table class="ui selectable table single line fixed unstackable">
          <thead>
            <tr>
              <th class="left aligned">Due Date</th>
              <th class="left aligned">Class</th>
              <th class="left aligned">Assignment</th>
              <th class="left aligned">Teacher</th>
              <th class="right aligned">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for ASSIGNMENT in ASSIGNMENTS %}
            <tr>
              <td class="left aligned">{{ ASSIGNMENT.DUE_DATE }}</td>
              <td class="left aligned">{{ ASSIGNMENT.CLASS_NAME }}</td>
              <td class="left aligned">{{ ASSIGNMENT.ASSIGNMENT_NAME }}</td>
              <td class="left aligned">{{ ASSIGNMENT.TEACHER_NAME }}</td>
              <td class="right aligned">{{ ASSIGNMENT.COMPLETION }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock %}